<mat-toolbar color="primary" class="nav-toolbar">
  <span class="logo">CoachMarktplatz</span>

  <span class="spacer"></span>

  <!-- DESKTOP NAVIGATION -->
  <div class="desktop-nav">
    <ng-container *ngFor="let item of navItems">
      <!-- Normaler Link -->
      <button
        *ngIf="!item.children"
        mat-button
        [routerLink]="item.route"
        routerLinkActive="active-link"
      >
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>

      <!-- Dropdown -->
      <button
        *ngIf="item.children"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let child of item.children"
          [routerLink]="child.route"
        >
          <mat-icon *ngIf="child.icon">{{ child.icon }}</mat-icon>
          {{ child.label }}
        </button>
      </mat-menu>
    </ng-container>
  </div>

  <!-- MOBILE BURGER BUTTON -->
  <button
    class="mobile-menu-button"
    mat-icon-button
    [matMenuTriggerFor]="mobileMenu"
    aria-label="Navigation öffnen"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- MOBILE MENU-INHALT -->
<mat-menu #mobileMenu="matMenu">
  <ng-container *ngFor="let item of navItems">
    <!-- einfache Links -->
    <button
      mat-menu-item
      *ngIf="!item.children"
      [routerLink]="item.route"
    >
      <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>

    <!-- Gruppen mit Kindern -->
    <ng-container *ngIf="item.children">
      <button mat-menu-item disabled>
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>

      <button
        mat-menu-item
        *ngFor="let child of item.children"
        [routerLink]="child.route"
      >
        <span class="child-dot">•</span>
        <span>{{ child.label }}</span>
      </button>

      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</mat-menu>
